
<app-menu-title></app-menu-title>

<div class="articles">
    <div class="articles-main">
        <app-big-card Id="1"></app-big-card>
    </div>

    <div class="articles-others">
        <app-small-card Id="2" photoSM="https://sm.ign.com/ign_br/screenshot/default/blob_d6b9.jpg" titleSM="A volta do capitão Luffy"></app-small-card>
        <app-small-card Id="3" photoSM="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDnvy9A2eDfZH4z2p-fPzzJnUQdCv2eZcNPQ&usqp=CAU" titleSM="Tudo sobre o Zoro"></app-small-card>
        <app-small-card Id="4" photoSM="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLINr3m5jbURtMdwb6NWemDTmcPyfDUyko7Q&usqp=CAU" titleSM="Live da Netflix"></app-small-card>
        <app-small-card Id="5"photoSM="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScxCbbqEOyTwv8ZqqzzcLjgVjOTIFJqAT67w&usqp=CAU" titleSM="Quem é o favorito?"></app-small-card>


    </div>

</div>